.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  width: 45vw;
}

.login-information form {
  display: contents;
  align-items: center;
  justify-content: center;
}

.login-information h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #244677;
}

.login-information h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #495057;
  opacity: 0.64;
}

.login-information h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 148%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #12295B;
}

.login-information input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 504px;
  gap: 16px;
  right: 0%;
  top: 33.33%;
  background: #F1F3F5;
  border-radius: 8px;
}

.login-information button {
  margin-top: 50px;
  padding: 16px;
  width: 540px;
  height: 56px;
  background: #12295B;
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
  color: #FFFFFF;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 58px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #495057;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 65px;
  font-size: 18px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #F7F8FC;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.list-name  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background: #FFFFFF;
  width: 80vw;
  height: 20vh;
}

.list-name h2 {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #244677;
  text-align: center;
}

.list-name button {
  margin-right: 20px;
  width: 231px;
  height: 56px;
  background: #4263EB;
  border-radius: 8px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: -0.02em;
}

.list-contact thead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  height: 9vh;
  letter-spacing: -0.02em;
  color: #244677;
}

.list-contact tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  text-align: center;
  width: 80vw;
}

.list-contact tbody {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #495057;
}

tr:nth-child(even) {
  background:#F1F3F5;
}

.list-contact td {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
}

.addContact  {
  background: #F7F8FC;
  display: block;
  align-content: center;
  justify-content: center;
}

.addContact-section {
  width: 808px;
  height: 543px;
  margin-left: 200px;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.addContact-section form {
  flex-wrap: wrap;
}

.addContact-section h1 {
  margin-top: 20px;
  color: #244677;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 124%;
}

.addContact-section h2 {
  text-align: center;
  letter-spacing: -0.02em;
  color: #495057;
  opacity: 0.64;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
}

.addContact-section h4 {
  color: #12295B;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  margin-left: 15px;
  font-size: 16px;
  line-height: 148%;
}

.addContact-name {
  background: #F1F3F5;
  border-radius: 8px;
  margin-left: 15px;
  width: 744px;
  height: 56px;
}

.addContact-email, .addContact-celular {
  background: #F1F3F5;
  border-radius: 8px;
  margin-left: 15px;
  width: 361px;
  height: 56px;
}

.addContact-section button {
  margin-top: 50px;
  width: 744px;
  height: 56px;
  left: 348px;
  top: 632px;
  background: #12295B;
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
  color: #FFFFFF;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
